{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>CREALICE</h1>
    <h3>Ваша универсальная студия для всех ваших потребностей в 3D-печати в Сочи. Предлагает
        высококачественные услуги 3D-печати в короткие сроки. Воплотите свои идеи в жизнь с помощью наших
        профессиональных решений для 3D-печати.</h3>

    <h2>Our Services</h2>
    <div class="service-block">
        <h3>3D-Печать FDM</h3>
        <p>Наша служба 3D-печати FDM предлагает высококачественные прототипы и функциональные детали по доступным ценам.
            Мы используем
            новейшая технология FDM для создания детализированных и надежных конструкций. </p>
        <p><strong>Идеально для:</strong> Прототипирование, функциональные детали, приспособления и приспособления,
            нестандартные корпуса</p>
    </div>

    <div class="service-block">
        <h3>3D-Печать SLA</h3>
        <p>Наша услуга 3D-печати SLA обеспечивает исключительное качество поверхности и сложные детали. Мы используем
            высокое разрешение
            Принтеры SLA для создания прототипов и деталей с точностью и аккуратностью.</p>
        <p><strong>Идеально для:</strong> Прототипирование, стоматологические модели, ювелирные изделия, медицинское
            оборудование, сложные конструкции.</p>
    </div>

    <div class="service-block">
        <h3>ЧПУ Фрезеровка</h3>
        <p>Мы предлагаем точные и эффективные услуги фрезерования с ЧПУ для ваших индивидуальных деталей и прототипов.
            Наш опытный
            машинисты работают с различными материалами для достижения высококачественных результатов.</p>
        <p><strong>Идеально для:</strong> Сложные формы, точные допуски, нестандартные формы, оснастка, металлические
            детали.</p>
    </div>

    <div class="service-block">
        <h3>Лазерная гравировка</h3>
        <p>Наша услуга лазерной гравировки позволяет наносить постоянную и детальную маркировку на различные материалы,
            включая дерево, металл, акрил и кожу. Мы можем создать индивидуальный дизайн, персонализированные подарки и
            функциональные детали со сложными деталями.</p>
        <p><strong>Идеально для:</strong> Персонализация, брендинг продукции, вывески, награды, сложные детали на
            прототипах
            проекты</p>
    </div>

    <div class="service-block">
        <h3>3D-Моделирование</h3>
        <p>Наша команда опытных специалистов по 3D-моделированию может создать индивидуальный дизайн для ваших проектов,
            от простых прототипов до
            сложные продукты. Мы работаем с различным программным обеспечением и можем воплотить ваши идеи в
            профессиональные 3D-принтеры для печати.
            модели.</p>
        <p><strong>Идеально для:</strong> Концептуализация, дизайн продукта, нестандартные детали, визуализация</p>
    </div>

    <div class="service-block">
        <h3>Изготовление силиконовых форм</h3>
        <p>Мы специализируемся на создании качественных силиконовых форм для отливки различных материалов, в том числе
            смолы, воска,
            и бетон. Наши формы долговечны, гибки и обеспечивают превосходное воспроизведение деталей.</p>
        <p><strong>Идеально для:</strong> Мелкосерийное производство, отливка уникальных дизайнов, создание форм для
            искусства из смолы,
            изготовление ювелирных изделий</p>
    </div>

    <div class="service-block">
        <h3>Полиуретановое литье</h3>
        <p>Мы предлагаем услуги литья из полиуретана для создания прочных и высокопроизводительных деталей. Наш
            полиуретан
            Материалы обладают широким спектром свойств, включая гибкость, прочность и долговечность.</p>
        <p><strong>Идеально для:</strong> Прототипирование, функциональные детали, индивидуальные формы, оснастка,
            промышленное применение.</p>
    </div>


</div>
{% endblock %}



